body {
  margin: 0;
  padding: 0;

  background: rgba(0,0,0,0.18);

  text-rendering: optimizeLegibility;
}

pre {
  margin: 0;
  padding: 0.5in;

  font-family: "john-doe", Courier, "Courier New", monospace, serif;
  letter-spacing: 0.25px;
  font-size: 12px;
  color: #bbb; /* todo: update */
  color: rgba(0,0,0,0.19);
  text-shadow:0 -1px 1px rgba(0,0,0,0.12);
}

pre h1 {
  display: inline;
  margin: 0 0 0 2px;
  padding: 0;

  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  -moz-box-shadow:    5px 8px 20px 5px #aaa;
  -webkit-box-shadow: 5px 8px 20px 5px #aaa;
  box-shadow:         5px 8px 20px 5px #aaa;

  -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.25);
  box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.25);

  background: #fff;
  width: 8.5in;
  height: 11in;
  margin: auto;
  position: absolute;
  top: 0.25in;
  left: 0;
  right: 0;
}

nav a {
  width: 8.5in;
  height: 11in;
  display: block;
}

nav a:hover {
  text-decoration: none;
  font-weight: bold;

  -moz-box-shadow:    5px 8px 20px 5px #aaa;
  -webkit-box-shadow: 5px 8px 20px 5px #aaa;
  box-shadow:         5px 8px 20px 5px #aaa;

  -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.18);
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.18);
  box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.18);
}

main {
  z-index: 1;

  font-family: Helvetica, "nimbus-sans", Arial, sans-serif;

/* This should work for IE6-8+

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9855560590580777, M12=0.16934950384902445, M21=-0.16934950384902445, M22=0.9855560590580777, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(
          M11=0.9855560590580777,
          M12=0.16934950384902445,
          M21=-0.16934950384902445,
          M22=0.9855560590580777,
          SizingMethod='auto expand');
  margin-left: -1.1in;
  margin-top: -.85in;*/

  -ms-transform:     rotate(-9.75deg); /* IE9+, conflicts with above */
  -moz-transform:    rotate(-9.75deg);
  -o-transform:      rotate(-9.75deg);
  -webkit-transform: rotate(-9.75deg) translate3d(0, 0, 0);
  transform:         rotate(-9.75deg);

  -moz-box-shadow:    5px 8px 20px 5px #aaa;
  -webkit-box-shadow: 5px 8px 20px 5px #aaa;
  box-shadow:         5px 8px 20px 5px #aaa;

  -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.25);
  box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.25);

  padding: 0.25in;
  background: #fff;
  width: 8in; /* 8.5 - 2*0.25 */
  height: 10.5in; /* 11 - 2*0.25 */
  margin: auto;
  position: absolute;
  top: 0.5in;
  left: 0;
  right: 0;
}

main h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 48px 0;
  padding: 0;
}

main h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

main h2 a:hover {
  border-bottom: 3px solid black;
}

main p {
  margin: 0 24px 24px 24px;
  line-height: 24px;
  vertical-align: top;
}

main p a {
  position: relative;
}

main p a:hover {
  border-bottom: 3px solid black;
}
