/* Yes, I am totally using inches for layout. */

body {
  margin: 0;
  padding: 0;

  background: #fff;
  text-rendering: optimizeLegibility;
}

body:after {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: radial-gradient(circle at calc(50% - 1.5in) 2in, rgba(0,0,0,0.0) 2in, rgba(0,0,0,0.65) 12in, rgba(0,0,0,0.85) 100%);
  width: 100%;
  height: 100vh;
  display: block;
  content: "";
}

pre {
  margin: 0;
  padding: 2em; /* override for nonmoble/nonprint*/

  font-family: "john-doe", "American Typewriter", Courier, "Courier New", monospace, serif;
  letter-spacing: 0.25px;
  font-size: 12px;
  color: #e0e0e0;
  color: rgba(0,0,0,0.19);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.12);
}

pre h1 {
  display: inline;
  margin: 0 0 0 2px;
  padding: 0;

  font: inherit;
  font-size: 12px; /* IE7 needs this explicitly */
  font-weight: bold;
  color: #323232;
  color: rgba(0,0,0,0.8);
}

pre strong {
  margin-left: 2px;

  font-weight: inherit;
  color: #323232;
  color: rgba(0,0,0,0.8);
}

.note, .field {
  margin-left: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: none; /* override for nonmoble/nonprint*/
}

main {
  background: #fff;
}

/* media queries don't work in IE8 */
@media not print {
  body {
    background: #d1d1d1;
    /*background: rgba(0,0,0,0.18);*/
  }

  pre {
    margin: 0.25in;
    width: 4.25in;
  }

 nav {
    display: block; /* undo hiding, todo disable on print too */
    font-family: Helvetica, "nimbus-sans", Arial, sans-serif;

    -moz-box-shadow:    5px 8px 20px 5px #999999;
    -webkit-box-shadow: 5px 8px 20px 5px #999999;
    box-shadow:         5px 8px 20px 5px #999999;

    -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.25);
    box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.25);

    background: #fff;
    width: 8.5in;
    height: 11in;
    margin: auto;
    position: absolute;
    top: 0.5in;
    left: 0;
    right: 0;

    /* This should work for IE6-8+

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9855560590580777, M12=0.16934950384902445, M21=-0.16934950384902445, M22=0.9855560590580777, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.9855560590580777,
            M12=0.16934950384902445,
            M21=-0.16934950384902445,
            M22=0.9855560590580777,
            SizingMethod='auto expand');
    margin-left: -1.1in;
    margin-top: -.85in;*/

    -ms-transform:     rotate(-9.75deg); /* IE9+, conflicts with above */
    -moz-transform:    rotate(-9.75deg);
    -o-transform:      rotate(-9.75deg);
    -webkit-transform: rotate(-9.75deg) translate3d(0, 0, 0);
    transform:         rotate(-9.75deg);
  }

  nav a {
    padding: 0.25in;

    width: 8.0in;
    height: 10.5in;
    display: block;
  }

  nav a:hover {
    text-decoration: none;

    -moz-box-shadow:    5px 8px 20px 5px #999999;
    -webkit-box-shadow: 5px 8px 20px 5px #999999;
    box-shadow:         5px 8px 20px 5px #999999;

    -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.18);
    box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.18);
  }

  nav a:hover:before {
    content: '';
    position: absolute;
    height: 26px; /* 24 + 2*/
    width: 1in;
    border-bottom: 3px solid black;
  }

  nav h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 48px 0;
    padding: 0;
  }

  nav h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 120px 0; /* 24 * 5 lines, hardcoded for now */
    padding: 0;
  }

  main {
    z-index: 1;

    -moz-box-shadow:    5px 8px 20px 5px #a5a5a5;
    -webkit-box-shadow: 5px 8px 20px 5px #a5a5a5;
    box-shadow:         5px 8px 20px 5px #a5a5a5;

    -moz-box-shadow:    5px 8px 20px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.25);
    box-shadow:         5px 8px 20px 5px rgba(0,0,0,0.25);

    width: 8.5in;
    height: 11in;
    margin: auto;
    position: absolute;
    top: 0.25in;
    left: 0;
    right: 0;
  }
}
